/* src/assets/main.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark gray text */
}

h1, h2, h3 {
    color: #fdd835; /* Yellow for headings */
}

/*@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');*/

body {
    font-family: 'Vazirmatn', sans-serif;
}
